
html.crx-wcd-active .crx-wcd-component {
	outline: 1px dashed rgba(255,0,0,0.9) !important;
	background-color: rgba(255,0,0,0.1) !important;
}

html.crx-wcd-active .crx-wcd-component-x {
	outline: 1px dashed rgba(0,255,0,0.9) !important;
	background-color: rgba(0,255,0,0.1) !important;
}

html.crx-wcd-active .crx-wcd-component-is {
	outline: 1px dashed rgba(0,0,255,0.9) !important;
	background-color: rgba(0,0,255,0.1) !important;
}
